/* Tablet */

@media (max-width: 1160px) {
    /* Article And website-design */
    .box-content .Article{
        padding: 0;
    }
    .box-content .website-design{
        padding: 0;
    }
    .box-content .text-light{
        font-size: 16px;
    }
    .box-content .text-hide{
        font-size: 10px;
    }


    /* SendMail */
    .SendMail fieldset{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .SendMail fieldset .commentBox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 550px;
        margin: 0;
    }
    .SendMail fieldset .commentBox .textNote{
        width: 100%;
        height: 190px;
    }
    .SendMail fieldset img{
        width: 200px;
    }
}


@media (max-width: 940px) {
    /* Profile Pix Right */
    .profile .card-profile #name{
        font-size: 15px;
        top: 318px;
        width: 143px;
        height: 53px;
    }
    .profile .card-profile #name .name-Typet{
        font-size: 15px;
    }
    .profile .card-profile .About{
        width: 236px;
        height: 92px;
        bottom: 65px;
    } 
    .profile .card-profile .About .about-Typed{
        font-size: 14px;
    }
    .profile .card-profile button{
        font-size: 11px;
        width: 122px;
        height: 45px;
        bottom: 10px;
        right: 5px;
        direction: ltr;
    }
    .profile .card-profile button img{
        width: 24px;
    }


    /* Article And website-design */

    /* ContentBox */
    .details .box-content{
        gap: 5px;
    }

    /* Article */
    .box-content .Article{
        width: 50%;
        height: 130px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .box-content .Article img{
        width: 90px;
    }
    .box-content .Article .text-article{
        align-items: center;
    }

    .box-content .website-design{
        width: 50%;
        height: 130px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .box-content .website-design img{
        width: 80px;
    }
    .box-content .website-design .text-design{
        align-items: center;
        display: flex;
    }
    /*Text Root ContentBox */
    .box-content .text-light{
        font-size: 16px;
        letter-spacing: 0;
        order: -1;
    }
    .box-content .text-hide{
        display: block;
        font-size: 9px;
    }


    /* ContactsBox */
    .details .box-contacts{
        gap: 5px;
    }

    /* Conditionn And Work-samples And Download-resume */
    .box-contacts .Condition{
        width: 150px;
    }
    .box-contacts .Condition img{
        width: 80px;
    }

    .box-contacts .Work-samples{
        width: 150px;
    }
    .box-contacts .Work-samples img{
        width: 80px;
    }

    .box-contacts .Download-resume{
        width: 150px;
    }
    .box-contacts .Download-resume img{
        width: 80px;
    }

    /*Text Root contactsBox */
    .box-contacts .text-light{
        font-size: 14px;
    }
    .box-contacts .text-hide{
        font-size: 8px;
    }


    /* Comment */
    .Comments .Box-Comments .Text-Comments{
        font-size: 12px;
    }


    /* SendMail */
    .SendMail fieldset .commentBox{
        width: 450px;
    }


    /* footer */
    footer .container-footer .box-name{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40%;
        padding: 0;
    }
    footer .container-footer .box-name img{
        width: 85px;
    }
    footer .container-footer .box-name a{
        font-size: 18px;
    }
    footer .container-footer .box-socials{
        width: 60%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
        padding-left: 10px;
        gap: 5px;
    }
    footer .container-footer .box-socials img{
        width: 22px;
    }
    footer .container-footer .box-socials a{
        width: 45px;
        height: 45px;
        border-radius: 50%;
    }

    /*---- CopyRightText ---*/
    .CopyRightText{
        font-size: 14px;
    }
}


@media (max-width: 834px) {
    /* Profile Pix Right */
    .profile .card-profile .About{
        width: 216px;
        height: 92px;
        bottom: 65px;
    }
   
    
    /* Conditionn And Work-samples And Download-resume */
    .box-contacts .Condition{
        width: 125px;
    }
    .box-contacts .Condition img{
        width: 70px;
    }

    .box-contacts .Work-samples{
        width: 125px;
    }
    .box-contacts .Work-samples img{
        width: 70px;
    }

    .box-contacts .Download-resume{
        width: 125px;
    }
    .box-contacts .Download-resume img{
        width: 70px;
    }

    /*Text Root contactsBox */
    .box-contacts .text-light{
        font-size: 13px;
    }
    .box-contacts .text-hide{
        font-size: 8px;
    }


    /* SendMail */
    .SendMail fieldset .commentBox{
        width: 400px;
    }


    /* footer */
    footer .container-footer .box-name img{
        width: 65px;
    }
    footer .container-footer .box-name a{
        font-size: 16px;
    }

}


@media (max-width: 700px) {
    
    /* Conditionn And Work-samples And Download-resume */
    .box-contacts .Condition{
        width: 110px;
    }
    .box-contacts .Condition img{
        width: 65px;
    }

    .box-contacts .Work-samples{
        width: 110px;
    }
    .box-contacts .Work-samples img{
        width: 65px;
    }

    .box-contacts .Download-resume{
        width: 110px;
    }
    .box-contacts .Download-resume img{
        width: 65px;
    }

    /*Text Root contactsBox */
    .box-contacts .text-light{
        font-size: 12px;
    }


    /* SendMail */
    .SendMail fieldset .commentBox{
        width: 350px;
    }

}


@media (max-width: 650px) {

    /* Conditionn And Work-samples And Download-resume */
    .box-contacts .Condition{
        width: 90px;
    }
    .box-contacts .Condition img{
        width: 65px;
    }

    .box-contacts .Work-samples{
        width: 90px;
    }
    .box-contacts .Work-samples img{
        width: 65px;
    }

    .box-contacts .Download-resume{
        width: 90px;
    }
    .box-contacts .Download-resume img{
        width: 65px;
    }

    /*Text Root contactsBox */
    .box-contacts .text-light{
        font-size: 10px;
    }
    .box-contacts .text-hide{
        font-size: 7px;
    }


    /* SendMail */
    .SendMail fieldset .commentBox{
        width: 280px;
    }

    footer .container-footer .box-name a{
        font-size: 14px;
    }

}


/* Mobile */

@media (max-width: 600px) {
    /*--- Grid body ---*/
    nav{
        grid-area: nav;
        height: 70px;
    }
    section{
        grid-area: section;
        height: 1100px;
    }
    .aboutsMe{
        grid-area: aboutsMe;
        height: 320px;
    }
    .skills{
        grid-area: skills;
        height: 200px;
    }
    .SendMail{
        grid-area: SendMail;
        height: 350px;
    }
    footer{
        grid-area: footer;
        height: 150px;
    }
    .CopyRightText{
        grid-area: CopyRightText;
        height: 50px;
    }


    /* NavBar */
    nav .logo{
        width: 55px;
    }
    nav .links{
        width: 85%;
    }
    nav .links a{
        font-size: 16px;
    }
    nav .btn-contact{
        display: none;
    }


    /* Section */
    section{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }


    /* Profile Pix Right */
    .profile .card-profile #name{
        font-size: 16px;
        top: 325px;
        width: 160px;
        height: 55px;
    }
    .profile .card-profile #name .name-Typet{
        font-size: 18px;
    }
    .profile .card-profile .About{
        width: 300px;
        height: 95px;
        bottom: 46px;
    }
    .profile .card-profile button{
        display: none;
    }


    /* details */
    section .details{
        height: 100%;
        width: 100%;
    }


    /* ContentBox */
    .details .box-content{
        width: 100%;
        height: 120px;
        margin: 10px 0;
        gap: 5px;
    }

    /* Article And website-design */
    .box-content .Article{
        width: 50%;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .box-content .Article img{
        width: 90px;
    }
    .box-content .Article .text-article{
        align-items: center;
    }

    .box-content .website-design{
        width: 50%;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .box-content .website-design img{
        width: 80px;
    }
    .box-content .website-design .text-design{
        align-items: center;
        display: flex;
    }
    /*Text Root ContentBox */
    .box-content .text-light{
        font-size: 16px;
        letter-spacing: 0;
        order: -1;
    }
    .box-content .text-hide{
        display: block;
        font-size: 10px;
    }

    /* ContactsBox */
    .details .box-contacts{
        justify-content: center;
        gap: 5px;
    }

    /* Conditionn And Work-samples And Download-resume */
    .box-contacts .Condition{
        width: 135px;
    }
    .box-contacts .Work-samples{
        width: 135px;
    }
    .box-contacts .Download-resume{
        width: 135px;
    }
    /*Text Root contactsBox */
    .box-contacts .text-light{
        font-size: 12px;
    }
    .box-contacts .text-hide{
        font-size: 8px;
    }


    /* Comment */
    .Comments .Box-Comments .Text-Comments{
        font-size: 12px;
    }
    .Comments .Box-Comments .Card-Profile .Profile{
        width: 65px;
        height: 65px;
    }


    /* AboutsMe */
    .aboutsMe fieldset{
        width: 100%;
        height: 100%;
    }
    .aboutsMe fieldset .aboutText{
        font-size: 14px;
        letter-spacing: .5px;
    }


    /* SendMail */
    .SendMail fieldset{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .SendMail fieldset .commentBox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin: 0;
    }
    .SendMail fieldset form{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .SendMail fieldset .commentBox .textNote{
        width: 300px;
        height: 190px;
    }
    .SendMail fieldset img{
        display: none;
    }


    /* footer */
    footer .container-footer .box-name{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100px;
        padding: 0;
    }
    footer .container-footer .box-name img{
        width: 60px;
    }
    footer .container-footer .box-name a{
        display: none;
    }
    footer .container-footer .box-socials{
        width: 80%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
        padding-left: 10px;
        gap: 5px;
    }
    footer .container-footer .box-socials img{
        width: 22px;
    }
    footer .container-footer .box-socials a{
        width: 45px;
        height: 45px;
        border-radius: 50%;
    }

    /*---- CopyRightText ---*/
    .CopyRightText{
        font-size: 12px;
    }
}


@media (max-width: 480px) {

    /* NavBar */
    nav .logo{
        width: 55px;
    }
    nav .links{
        width: 85%;
    }
    nav .links a{
        font-size: 16px;
    }
    nav .btn-contact{
        display: none;
    }


    /* Section */
    section{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }


    /* Profile Pix Right */
    section .profile{
        height: 100%;
        width: 100%;
        position: relative;
        display: block;
    }
    .profile .card-profile #name{
        font-size: 16px;
        top: 325px;
        width: 160px;
        height: 55px;
    }
    .profile .card-profile #name .name-Typet{
        font-size: 18px;
    }
    .profile .card-profile .About{
        width: 300px;
        height: 95px;
        bottom: 46px;
    }
    .profile .card-profile button{
        display: none;
    }


    /* details */
    section .details{
        height: 100%;
        width: 100%;
    }


    /* ContentBox */
    .details .box-content{
        width: 100%;
        height: 100px;
        margin: 10px 0;
        gap: 5px;
    }

    /* Article And website-design */
    .box-content .Article{
        width: 50%;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .box-content .Article img{
        width: 90px;
    }
    .box-content .Article .text-article{
        align-items: center;
    }

    .box-content .website-design{
        width: 50%;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .box-content .website-design img{
        width: 80px;
    }
    .box-content .website-design .text-design{
        align-items: center;
        display: flex;
    }
    /*Text Root ContentBox */
    .box-content .text-light{
        font-size: 16px;
        letter-spacing: 0;
        order: -1;
    }
    .box-content .text-hide{
        display: block;
        font-size: 10px;
    }


    /* box-contacts */
    .details .box-contacts{
        justify-content: center;
        gap: 5px;
    }

    /* Conditionn And Work-samples And Download-resume */
    .box-contacts .Condition{
        width: 135px;
    }
    .box-contacts .Work-samples{
        width: 135px;
    }
    .box-contacts .Download-resume{
        width: 135px;
    }
    /*Text Root contactsBox */
    .box-contacts .text-light{
        font-size: 12px;
    }
    .box-contacts .text-hide{
        font-size: 8px;
    }


    /* Comment */
    .Comments .Box-Comments .Text-Comments{
        font-size: 12px;
    }
    .Comments .Box-Comments .Card-Profile .Profile{
        width: 65px;
        height: 65px;
    }


    /* AboutsMe */
    .aboutsMe fieldset{
        width: 100%;
        height: 100%;
    }
    .aboutsMe fieldset .aboutText{
        font-size: 14px;
        letter-spacing: .5px;
    }


    /* SendMail */
    .SendMail fieldset{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .SendMail fieldset .commentBox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0;
    }
    .SendMail fieldset .commentBox .textNote{
        width: 300px;
        height: 190px;
    }
    .SendMail fieldset img{
        display: none;
    }


    /* footer */
    footer .container-footer .box-name{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100px;
        padding: 0;
    }
    footer .container-footer .box-name img{
        width: 60px;
    }
    footer .container-footer .box-name a{
        display: none;
    }
    footer .container-footer .box-socials{
        width: 90%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 10px;
        gap: 5px;
    }
    footer .container-footer .box-socials img{
        width: 22px;
    }
    footer .container-footer .box-socials a{
        width: 45px;
        height: 45px;
        border-radius: 50%;
    }
}


@media (max-width: 400px) {

    /* NavBar */
    nav .logo{
        width: 45px;
    }
    nav .links{
        width: 85%;
    }
    nav .links a{
        font-size: 14px;
    }


    /* Profile Pix Right */
    .profile .card-profile #name{
        font-size: 15px;
        width: 155px;
        height: 55px;
    }
    .profile .card-profile #name .name-Typet{
        font-size: 16px;
    }
    .profile .card-profile .About{
        width: 265px;
        height: 95px;
    }
    .profile .card-profile .About .about-Typed{
        font-size: 16px;
    }


    /* Article And website-design */
    .box-content .Article{
        width: 50%;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .box-content .Article img{
        width: 90px;
    }
    .box-content .Article .text-article{
        align-items: center;
    }

    .box-content .website-design{
        width: 50%;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .box-content .website-design img{
        width: 80px;
    }
    .box-content .website-design .text-design{
        align-items: center;
    }
    /*Text Root ContentBox */
    .box-content .text-light{
        font-size: 13px;
        letter-spacing: 0;
    }
    .box-content .text-hide{
        display: none;
    }
    

    /* Conditionn And Work-samples And Download-resume */
    .box-contacts .Condition img{
        width: 75px;
    }
    .box-contacts .Condition .text-light{
        font-size:11px;
    }
    .box-contacts .Work-samples img{
        width: 75px;
    }
    .box-contacts .Work-samples .text-light{
        font-size: 11px;
    }
    .box-contacts .Download-resume img{
        width: 75px;
    }
    .box-contacts .Download-resume .text-light{
        font-size: 11px;
    }
    /*Text Root contactsBox */
    .box-contacts .text-light{
        letter-spacing: 0;
    }
    .box-contacts .text-hide{
        font-size: 8px;
        letter-spacing: 0;
    }


    /* AboutsMe */
    .aboutsMe{
        height: 350px;
    }


    /* SendMail */
    .SendMail fieldset{
        padding: 0;
    }
    .SendMail fieldset .commentBox{
        width: 300px;
        margin: 0;
    }
    .SendMail fieldset .commentBox .textNote{
        width: 80%;
    }


    /* footer */
    footer .container-footer .box-name{
        display: none;
    }
    footer .container-footer .box-socials{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        gap: 5px;
    }
    footer .container-footer .box-socials a{
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
    footer .container-footer .box-socials img{
        width: 22px;
    }
}


@media (max-width: 350px) {

    /* NavBar */
    nav .logo{
        width: 35px;
    }
    nav .links{
        width: 85%;
    }
    nav .links a{
        font-size: 12px;
    }


    /* Profile Pix Right */
    .profile .card-profile #name{
        font-size: 14px;
        width: 140px;
        height: 55px;
    }
    .profile .card-profile #name .name-Typet{
        font-size: 15px;
    }
    .profile .card-profile .About{
        width: 235px;
        height: 95px;
    }
    .profile .card-profile .About .about-Typed{
        font-size: 15px;
    }


    /* Article And website-design */
    .box-content .Article{
        width: 50%;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .box-content .Article img{
        width: 90px;
    }
    .box-content .Article .text-article{
        align-items: center;
    }

    .box-content .website-design{
        width: 50%;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .box-content .website-design img{
        width: 80px;
    }
    .box-content .website-design .text-design{
        align-items: center;
    }
    /*Text Root ContentBox */
    .box-content .text-light{
        font-size: 13px;
        letter-spacing: 0;
    }
    .box-content .text-hide{
        display: none;
    }
    

    /* Conditionn And Work-samples And Download-resume */
    .box-contacts .Condition img{
        width: 70px;
    }
    .box-contacts .Condition .text-light{
        font-size: 9px;
    }
    .box-contacts .Work-samples img{
        width: 70px;
    }
    .box-contacts .Work-samples .text-light{
        font-size: 10px;
    }
    .box-contacts .Download-resume img{
        width: 70px;
    }
    .box-contacts .Download-resume .text-light{
        font-size: 11px;
    }
    /*Text Root contactsBox */
    .box-contacts .text-light{
        letter-spacing: 0;
    }
    .box-contacts .text-hide{
        font-size: 8px;
        letter-spacing: 0;
    }


    /* AboutsMe */
    .aboutsMe{
        height: 400px;
    }


    /* SendMail */
    .SendMail fieldset{
        width: 100%;
        padding: 0;
    }
    .SendMail fieldset .commentBox{
        width: 300px;
        margin: 0;
    }
    .SendMail fieldset .commentBox .textNote{
        width: 80%;
    }


    /* footer */
    footer .container-footer .box-name{
        display: none;
    }
    footer .container-footer .box-socials{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        gap: 5px;
    }
    footer .container-footer .box-socials a{
        width: 38px;
        height: 38px;
        border-radius: 50%;
    }
    footer .container-footer .box-socials img{
        width: 20px;
    }


    /*---- CopyRightText ---*/
    .CopyRightText{
        font-size: 10px;
    }
}